.image {
	height: 230px;
	width: 230px;
	padding: 18px;
	border-radius: 50%;
}

.nav-item {
	text-align: right;
}

.image:hover{
	animation: beat .4s infinite alternate;
	transform-origin: center;
}

@keyframes beat{
	to { transform: scale(1.4); }
}

.heading{
	text-align: center;
	color: white;
	font-size: 18px;
}