<!DOCTYPE html>
<html>
<head>
	<title>DataSet</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style type="text/css">
		body{
			background: url("https://images.unsplash.com/photo-1522764725576-4cbbbf12c16d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80");
		}

		form {
  padding: 70px 0;
  border: 3px;
  text-align: center;
}

p{
	color: white;
	font-size: 15px;
}

h3{
	color: white;
	
}

input[type=text] {
  
  
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #9e1948;
}
	</style>
</head>
<body>
	<div class="container" class="center" >

	<form>
        <div style="background-color: #69102f "><h3>Enter The Number Of Hours It Took You To Sleep Each Day, This Week :</h3></div>
		<br>
		<p>Monday :<p>  </p><input type="text" name="Monday"></p>		
		<br>
		<p>Tuesday: <p>  </p>  <input type="text" name="Tuesday"></p>
		<br>
		<p>Wednesday:<p>  </p> <input type="text" name="Wednesday"></p>
		<br>
		<p>Thursday:<p>  </p>  <input type="text" name="Thursday"></p>
		<br>
		<p>Friday:  <p>  </p>  <input type="text" name="Friday"></p>
		
	</form>
	</div>
</body>
</html>